
.circle_and_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.padding{
  padding-left: 5%;
}

.greyish {
  background-color: ghostwhite;
}
.remove_space_headings{
    margin-top:-5px;
}

.stBlock>div {
  background-color:rgb(54, 54, 54);
  padding-left: 2%;
}

.sidebar>div {
  font-size: 15pt;
  background-image: none;
}

body {
  background-color: #fbfbfd;
  color: black;
}