
.circle_and_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.padding{
  padding-left: 5%;
}

.greyish {
  background-color: ghostwhite;
}
.remove_space_headings{
    margin-top:-5px;
}

.reportview-container .markdown-text-container {
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom:-1rem
}
.reportview-container .markdown-text-container pre code {
    color:#262730
}
.reportview-container .markdown-text-container a {
    color:#0068c9
}

.sidebar>div {
  font-size: 15pt;
  background-image: none;
}

body {
  background-color: #fbfbfd;
  color: black;
}

.streamlit-expanderContent
{
  background-color: #ececec;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
}

.streamlit-expanderHeader 
{
  font-size: 20pt;
}